body{background:;
	font-family:"Times New Roman";
	margin: 0;
	padding: 0;
	}
.links{background-color: #6E7376;
	color: #ffffff;
	text-align: center;
	padding: 25px 0 25px 0;
	
}
.links > li {
	display: inline-block;
	padding: 0 25px 0 25px;
}

.links > li > a {
	text-decoration: none;
	color: #ffffff;
}

.links > li > a:hover {
	color: #c1c1c1;
}


