.pic{height: 640px;
    width: 640px
  }
  
.light{border-style:;
       border-width:;
       border-color:;
  }

.scratch{border-style:;
       border-width:;
       border-color:;
  }

.app{border-style:;
       border-width:;
       border-color:;
  }

.khan{border-style:;
       border-width:;
       border-color:;
  }

.notepad{border-style:;
       border-width:;
       border-color:;
  }

.main{text-align:center;
     padding-bottom: 25px;
}

.links{background-color:#333333;
       color:#ffffff;
       text-align: center;
       padding: 25px 0 25px 0;}

.links > li {
      display: inline-block;
      padding: 0 25px 0 25px;}
.links > li > a {
        color:#ffffff;
    }
.LB{background-color:#bfbfbf;}

.S{background-color:#ffd633;}

.AI{background-color:#4b9b4b;}

.KA{background-color:#3399cc;}

.NP{background-color:#9494b8;}

.GH{background-color:#bf80ff;}

.CC{background-color:#bf8040;}

.CA{background-color:#ff4d4d;}

.RI{background-color:#ffb3d9;}

