.PF{color: white;}
.pic{height: 640px;
    width: 640px
  }
.text{background-color:#ffd9b3;
    border: 5px solid black ;
    width: 50%;
    height: 50%;
    text-align: justify;
display: block;
margin:auto;
padding: 15px;}

.internal{color:white;}
.internal > p > a {color: white;}
  
.light{border: 7px inset gray;}

.scratch{border: 7px outset orange;}

.app{border-style: 7px inset darkgreen;}

.khan{border: 7px outset darkblue;}

.notepad{border: 7px inset purple;
  }

.main{text-align:center;
     padding-bottom: 25px;
}

.links{background-color:#333333;
       color:#ffffff;
       text-align: center;
       padding: 25px 0 25px 0;}

.links > li {
      display: inline-block;
      padding: 0 25px 0 25px;}
.links > li > a {
        color:#ffffff;
    }
.LB{background-color:#bfbfbf;}

.S{background-color:#ffd633;}

.AI{background-color:#4b9b4b;}

.KA{background-color:#3399cc;}

.NP{background-color:#9494b8;}

.GH{background-color:#bf80ff;}

.CC{background-color:#bf8040;}

.CA{background-color:#ff4d4d;}

.RI{background-color:#ffb3d9;}

